*nih*
*DS_Store*

*__pycache__*
*thumbnails*
*scratch*
*log
*txt

.Rproj.user
.Rhistory
.RData
.Ruserdata
notes

*png
*scratch*
.Pyuserdata
*DbConn*
*authorized*
*all_orig_metadata*
.processed_corpus_context